<div layout="row" layout-sm="column" layout-align="space-between center">
    <div class="step" ng-click="viewModule(module)" flex="30">
        <div layout="column" layout-sm="row">
            <p>1. About Cataracts</p>
            <md-progress-linear class="md-accent" md-mode="determinate" value="100"></md-progress-linear>
        </div>
    </div>
    <div class="step active" ng-click="viewModule(module)" flex="40">
        <div layout="column" layout-sm="row">
            <p>2. Your Surgery</p>
            <md-progress-linear class="md-accent" md-mode="determinate" value="80"></md-progress-linear>
        </div>
    </div>
    <div class="step" ng-click="viewModule(module)" flex="30">
        <div layout="column" layout-sm="row">
            <p>3. Your Options</p>
            <md-progress-linear class="md-accent" md-mode="determinate" value="30"></md-progress-linear>
        </div>
    </div>
</div>

