<section id="preferences_section" layout='row' flex ng-init="init()">
    <side-nav></side-nav>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar md-theme="checkedup" class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h3>
                    Back
                </h3>
                <span flex></span>
                <md-button class="md-fab md-primary md-mini" ng-click="prevQuestion()" aria-label="Previous Question">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <md-button class="md-fab md-primary md-mini" ng-click="nextQuestion()" aria-label="Next Question">
                    <ng-md-icon icon="arrow_forward"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content id="content_preferences" class="content-preferences" flex layout="column" layout-align="start center">
            <div class="preferences-container" layout="column">
                <h2 class="preferences-title">Congratulations Jacob! You have finished learning about Cataract Surgery.</h2>
                <p class="preferences-intro">
                    Feel free to review your preferences below and make any changes you feel necessary. You may also replay any of the educational materials or end your session.
                </p>

                <form action="" class="preferences-form">
                    <md-card class="card-module" flex>
                        <md-card-content>
                            <h4 class="module-subtitle">Module 1</h4>
                            <p class="module-question">Do you understand your surgery?</p>
                            <md-radio-group layout="row" layout-sm="column"  ng-model="data.group1">
                                <md-radio-button flex="25" flex-sm="100"  value="yes" aria-label="Yes">Yes</md-radio-button>
                                <md-radio-button flex="25" flex-sm="100"  value="no" aria-label="No">No</md-radio-button>
                            </md-radio-group>
                        </md-card-content>
                    </md-card>
                    <md-card class="card-module" flex>
                        <md-card-content>
                            <h4 class="module-subtitle">Module 2</h4>
                            <p class="module-question">Which of these do you prefer?</p>
                            <md-radio-group layout="row" layout-sm="column"  ng-model="data.group2">
                                <md-radio-button flex="25" flex-sm="100"  value="blade" aria-label="Yes">Blade</md-radio-button>
                                <md-radio-button flex="25" flex-sm="100"  value="Laser" aria-label="Yes">Laser</md-radio-button>
                            </md-radio-group>
                            <md-divider></md-divider>
                            <p class="module-question">Which foods do you like?</p>
                            <div class="checkbox-group" layout="row" layout-sm="column" >
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Meat">Meat</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Fruit" ng-checked="{{true}}">Fruit</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Vegetables">Vegetables</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Grains" ng-checked="{{true}}">Grains</md-checkbox>
                            </div>
                            <md-divider></md-divider>
                            <p class="module-question">What is the weather like today?</p>
                            <md-radio-group layout="row" layout-sm="column"  ng-model="data.group3">
                                <md-radio-button flex="25" flex-sm="100"  value="sunny" aria-label="Sunny">Sunny</md-radio-button>
                                <md-radio-button flex="25" flex-sm="100"  value="rainy" aria-label="Rainy">Rainy</md-radio-button>
                                <md-radio-button flex="25" flex-sm="100"  value="meh" aria-label="Meh">Meh</md-radio-button>
                            </md-radio-group>
                        </md-card-content>
                    </md-card>
                    <md-card class="card-module" flex>
                        <md-card-content>
                            <h4 class="module-subtitle">Module 3</h4>
                            <p class="module-question">Which lens are you interested in?</p>
                            <div class="checkbox-group" layout="row" layout-sm="column" >
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Basic">Basic</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Multi-Focal">Multi-Focal</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Toric">Toric</md-checkbox>
                                <md-checkbox flex="25" flex-sm="100"  aria-label="Blended">Blended</md-checkbox>
                            </div>
                        </md-card-content>
                    </md-card>
                </form>
            </div>
        </md-content>
        <footer id="footer_steps" ng-init="init()" footer-module></footer>
    </div>
</section>