<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" style="height:100%">
    <md-content class="sidenav-content">
        <md-toolbar class="light">
            <img src="images/checkedup-log-dark.png" alt="CheckedUp logo"/>
        </md-toolbar>
        <md-list class="sidenav-list">
            <md-list-item md-ink-ripple="#206ca4" ng-class="{'list-item-active': currentState =='surgery' || currentState == 'dashboard'}" ng-click="navigate('dashboard')">
                <p>My Surgery</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple="#206ca4" ng-class="{'list-item-active': currentState =='doctor'}" ng-click="navigate('doctor')">
                <p>My Doctor</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple="#206ca4" ng-class="{'list-item-active': currentState =='account'}" ng-click="navigate('account')">
                <div class="list-item-account-inner">
                    <p>My Account</p>
                    <p class="user-label">Jacob Johnson</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list class="sidenav-footer">
            <md-list-item md-ink-ripple="#206ca4" ng-click="navigate('dashboard')">
                <p>Help</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple="#206ca4" ng-click="navigate('doctor')">
                <p>Log Out</p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>
