#account_section{
  md-tabs.md-checkedup-theme{
    flex-grow: 1;
    md-tabs-wrapper{
      background-color: $tabs-background;
      .md-tab{
        color: white;
        text-transform: none;
        font-size: 1.2em;
      }
      md-ink-bar{
        height: 3px;
      }
    }
  }
}

.account-info-content{
  padding: 30px;
  font-size: em(20);
  md-card{
    width: 100%;
    @include prefixer(border-radius, 6px, $vendors);
    max-width: 750px;
    #save_account_btn{
      width: 280px;
      min-height: 46px;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
    }
    #delete_account_btn{
      color: #F1782B;
      margin: 0 20px;
      @include breakpoint($phone-max-width) {
        margin-top: 40px;
      }
    }
  }
}

.account-terms-content, .account-privacy-content{
  padding: 30px;
  font-size: em(20);
  color: white;
  .account-terms-inner, .account-privacy-inner{
    width: 100%;
    max-width: 1000px;
    h3{ font-weight: normal; font-size: 1.3em; margin-top: 10px;}
    p{ font-size: 0.8em; }
  }
}

#delete_account_modal{
  @include breakpoint($lg-desktop-min-width) {
    max-width: $lg-desktop-modal-max-width;
  }
  md-dialog-content{
    @include breakpoint($lg-desktop-min-width) {
      padding: 90px 70px;
    }
    .md-title{
      text-align: center;
      color: #000;
      font-size: em(24);
      margin: 0 auto !important;
      @include breakpoint($phone-max-width) {
        font-size: em(22);
      }
    }
    .delete-account-actions{
      padding-top: 30px;
      @include breakpoint($lg-desktop-min-width) {
        padding-top: 50px;
      }
      button.md-button{
        outline: 0 !important;
        min-width: 150px;
        @include breakpoint($lg-desktop-min-width) {
          min-width: 260px;
          line-height: 46px;
          font-size: 18px;
        }
      }
    }
  }
}