.content-dashboard.md-checkedup-theme{
  background-color: #216199 !important;
  video {
    width: 100%;
    height: auto;
    max-height: 100%;
    background: url("../images/linear-bg.png") repeat-x;
    background-size: 100% 100%;
    outline: 0;
    opacity: 0.99;
  }
}