/* Directives */

/* md-toolbar */
md-toolbar.md-checkedup-theme{
  .md-toolbar-tools{
    button.md-checkedup-theme.md-primary.md-fab:not([disabled]){
      &:hover{
        background-color: #34B17D;
      }
      &:last-of-type{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

/* side-nav-bar */
md-sidenav{
  max-width: $navbar-width !important;
  min-width: $navbar-width !important;
  md-content.sidenav-content{
    color: rgba(50, 128, 186, 1);
    font-size: rem(19);
    background-color: white !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    md-toolbar{
      &.light{ background-color: #fff!important; border-bottom: 1px solid #E4E4E4; }
      img{ width: 140px; margin: 10px 0 0 16px; }
    }
    md-list.md-checkedup-theme{
      padding: 0;
      overflow: auto;
      &.sidenav-list{
        @include flex(1);
      }
      &.sidenav-footer{
        md-list-item{
          button{
            background-color: #F3F3F3;
          }
        }
      }
      md-list-item{
        position: relative;
        &.list-item-active{
          button{
            background-color: $hover-color-sidenav;
            &:hover{ background-color: $hover-color-sidenav !important; }
          }
        }
        button{
          &:hover{ background-color: $hover-color-sidenav !important; }
          &.md-no-style{ padding: 0 20px; }
          .md-list-item-inner{
            min-height: 70px;
            width: 100%;
            .list-item-account-inner{
              width: 100%;
              @include display(flex);
              @include align-items(center);
              @include flex-direction(column);
            }

            p{
              line-height: 1.1;
              margin: 0;
              width: 100%;
              @include ellipsis();
              @include flex(1);
              &.user-label{
                color: rgba(50, 128, 186, 0.5);
                font-size: 0.8em;
                margin: 4px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

/* footer-module */
#footer_steps{
  background-color: #184F80;
  width: 100%;
  color: #fff;
  margin: 0;
  position: relative;
  font-size: 1rem;
  @include breakpoint($phone-max-width) {
    padding-top: 5px;
  }
  @include prefixer(box-shadow,  0px -2px 4px 0px rgba(13, 51, 107, 1), $vendors);
  >div{
    margin: 5px 15px 10px;
    .step{
      padding: 12px 15px;
      border: 0;
      outline : 0;
      @include breakpoint($phone-max-width) {
        @include flex(100 !important);
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 5px;
      }
      &.active{
        p{
          opacity: 1;
        }
      }
      div{
        @include breakpoint($phone-max-width) {
          margin-bottom: 2px;
        }
        p{
          margin: 0 0 10px;
          opacity: 0.5;
          flex: 0 0 auto;
          font-size: em(15);
          line-height: 1.1;
          @include ellipsis();
          @include breakpoint($phone-max-width) {
            @include flex(0 0 180px);
            margin-bottom: 0px;
            padding-right: 5px !important;
          }
        }
        md-progress-linear{
          .md-container{
            height: $progress-bar-height;
            @include prefixer(border-radius, 4px, $vendors);
            background-color: #487397 !important;
            .md-bar{
              height: $progress-bar-height;
            }
          }
        }
      }
    }
  }
}