@include font-face($font, '../fonts/avenirnextltpro/AvenirNextLTPro-Regular', normal, normal, $file-formats: eot ttf woff);
@include font-face($font, '../fonts/avenirnextltpro/AvenirNextLTPro-Bold', bold, normal, $file-formats: eot ttf woff);

/* General Settings*/
html{ font-size: $default-font-size; }
body, html{ width: 100%; height: 100%;}
body{ padding: 0; margin: 0; font-family: $font-stack; font-weight: normal; font-style: normal; font-size: 1em; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline : 0;
}

.main-view{
  >section{
    min-height: 420px;
    position: relative;
    height: 100%;
    background-color: $background-color !important;
    color: white;
    &.dark{
      background-color: $background-color-dark !important;
    }
  }
}

md-input-container.md-checkedup-theme .md-input {
  color: $input-color;
  border-color: rgba(0, 0, 0, 0.32);
}

md-content.md-checkedup-theme{
  background-color: $background-color;
}