#welcome_section{
  font-size: rem(22);
  md-toolbar{
    .md-toolbar-tools{
      h3{
        text-align: center;
        width: 100%;
        @include ellipsis();
        @include breakpoint($phone-max-width) {
          font-size: 16px;
        }
      }
    }
  }
}

#continue_modal, #programs_modal{
  @include breakpoint($lg-desktop-min-width) {
    max-width: $lg-desktop-modal-max-width;
  }
  md-dialog-content{
    @include breakpoint($lg-desktop-min-width) {
      padding: 90px 70px;
    }
    .md-title{
      text-align: center;
      color: #000;
      font-size: em(24);
      margin: 0 auto !important;
      &#continue_title{
        max-width: 400px;
      }
      @include breakpoint($phone-max-width) {
        font-size: em(22);
      }
    }
    .continue-actions, .programs-actions{
      padding-top: 30px;
      @include breakpoint($lg-desktop-min-width) {
        padding-top: 50px;
      }
      button.md-button{
        outline: 0 !important;
        min-width: 150px;
        @include breakpoint($lg-desktop-min-width) {
          min-width: 260px;
          line-height: 46px;
          font-size: 18px;
        }
      }
    }
  }
}