@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";

// Variables Declaration
$font: AvenirNextLTPro;
$font-stack:    $font, sans-serif;
$default-font-size: 16px;
$navbar-width:250px;
$vendors: webkit moz ms o spec;
$progress-bar-height: 7px;
$background-color: #3084B8;
$background-color-dark: #18517F;
$background-color-darker: #102A59;
$hover-color-sidenav: #E9F1F8;
$dark-primary-color: #E9F1F8;
$input-color: #3282B8;
$accent-color: #2DB276;
$modal-max-width: 700px;
$credentials-container-width: 700px;
$phone-max-width: (max-width 599px);
$tablet-max-width: (max-width 959px);
$lg-desktop-min-width: 1200px;
$lg-desktop-modal-max-width: 900px;

@import "general";
@import "directives";
@import "dashboard";
@import "register";
@import "welcome";
@import "questions";
@import "doctor";






