$color-blue = #3281BB
$dark-blue = #184F80

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

user-select()
  vendor('user-select', arguments)


@font-face
  font-family: 'AvenirNextLTPro'
  src: url('../fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot')
  src: url('../fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../fonts/avenirnextltpro/AvenirNextLTPro-Regular.ttf')  format('truetype')
  font-weight: normal
  font-style: normal



@font-face
    font-family: 'AvenirNextLTPro'
    src: url('../fonts/avenirnextltpro/AvenirNextLTPro-Bold.eot')
    src: url('../fonts/avenirnextltpro/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenirnextltpro/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../fonts/avenirnextltpro/AvenirNextLTPro-Bold.ttf')  format('truetype')
    font-weight: bold
    font-style: normal


background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

body, html
  width 100%
  height 100%
  font-size 16px
  background-linear-gradient(top, #2365a4, 50%, #2872ab, 100%)

body
  padding	0px
  margin 0px
  width 100%
  color #ffffff
  font-family 'AvenirNextLTPro'
  font-weight normal
  font-style normal
  font-size	1em

#test-p
  background-color red;

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 210px !important;

md-toolbar.md-checkedup-theme.light
    background-color #fff;
    border-bottom 1px solid #E4E4E4

md-toolbar.md-checkedup-theme img
    width 140px;
    margin 10px 0 0 20px

md-content.sidebar-content
    color rgba(50, 128, 186, 1)
    font-size 19px

.sidebar-content md-list-item .md-no-style
    padding 0 20px

.sidebar-content md-list.md-checkedup-theme md-list-item.list-item-active button
    background-color #E9F1F8

.sidebar-content md-list.md-checkedup-theme md-list-item.list-item-active button:hover
    background-color #E9F1F8

.sidebar-content md-list-item
    position relative

.sidebar-content md-list-item, .sidebar-content md-list-item .md-list-item-inner
    min-height 70px

.sidebar-content .md-list-item-inner > p
    line-height 20px

.sidebar-content .md-list-item-inner > p > span
    color rgba(50, 128, 186, 0.5)
    font-size 15px

md-content.content-dashboard
    background-color #205f99

#footer_steps
    background-color #184F80
    width 100%
    margin 0
    box-shadow 0px -2px 4px 0px rgba(13,51,107,1)
    position relative

#footer_steps > div
    margin 5px 20px 10px

#footer_steps .step
    margin 10px 20px 15px
    width 100%

#footer_steps .step p
    margin 0 0 15px
    opacity 0.5
    flex 0 0 auto
    line-height: 1em

#footer_steps .step.active p
    opacity 1


md-progress-linear .md-container
    border-radius 4px
    background-color #487397 !important

md-progress-linear .md-container, md-progress-linear .md-container .md-bar
    height 7px

.video-container
    overflow:hidden
    width 100%
    max-width 500px

video#video_player
    width: 100%
    height:auto


.linear-bg
    background-image url("../images/linear-background_1.png")
    background-repeat repeat-x;
    background-size 100% 100%;

.circular-bg
    background-image url("../images/circular-background.jpg")
    background-repeat no-repeat
    background-position center top
    background-size 100%;

.layout-fill
    margin 0
    height 100%
    min-height 100%
    width 100%

.width-100
  width 100%

.height-100
  height 100%

.color-blue
  color $color-blue

.text-center
  text-align center

/*  SIGN-UP  */

.sign-up-container
  font-size 1.6rem

.sign-up-logo
  margin 3rem 0 2rem 0rem
  width 12rem

.doctor-image
  width 7.2rem
  height 7.2rem
  overflow hidden
  border-radius 50%
  border 4px solid #ffffff
  img
    width 100%

.doctor-invitation
  margin-bottom 2rem
  padding 3rem
  text-align center

.border-bottom
  padding-bottom 0.5rem
  border-bottom 0.1rem solid #ffffff

.green-button
  background-color #2DB27C
  color #ffffff
  margin 0
  font-size 1.8rem
  border-radius(0.5rem)

.white-log-sign-in-container
  padding 3rem
  margin-bottom 3rem
  width 54rem
  max-width calc(100% - 4rem)
  height auto
  font-size 1.8rem
  color #AAAAAA
  background-color #ffffff
  border-radius(0.5rem)
  input
    color #3281BB
  md-input-container:not(.md-input-invalid).md-input-focused label
    color #AAAAAA
  md-input-container.md-input-focused .md-input
    border-color rgba(0,0,0,0.12)
  .border-bottom
    border-color #aaaaaa
  .terms
    padding 0
    min-width 3rem
    margin 8px 0 0 0
    font-size 1.8rem
    text-transform none

.language-container
  margin-bottom 5rem
  width 54rem
  max-width calc(100% - 4rem)
  .md-button
    display inline-block
    margin-bottom 1rem
    text-transform none
    font-size 1.7rem
    font-weight bold

.terms-modal
  font-size 1.4rem
  color #0A0A0A
  border-radius 8px
  .md-toolbar-tools
    background-color #ffffff
    color #0A0A0A
    font-size 2.5rem
    text-align center
    height 10rem
    max-height 10rem
  md-dialog-content
    padding 0 2.4rem 2.4rem 2.4rem
  .close-modal
    color #AAAAAA
    text-transform none
    font-size 1.8rem

/** NAVBAR **/

md-card
    color black

navbar
  height 6.3rem
  background-color $dark-blue
  color #ffffff
  font-size 1.8rem
  display block

@media (min-width: 600px) {

}

@media (max-width: 599px) {
    #footer_steps .step p{
        flex 0 0 180px
        margin 0
        font-size 14px
    }

    #footer_steps .step {
        margin: 5px 20px 0;
    }
}

@media (min-width: 600px) and (max-width: 959px) {

}

@media (min-width: 960px) {

}

@media (min-width: 960px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}
