<md-dialog class="terms-modal" aria-label="Terms Modal">
  <form name="forgotPasswordForm">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <h2>Forgot password?</h2>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <p class="width-100 text-center color-blue">
        Just enter your email below and hit SUBMIT. A form will be sent <br />
        to you to create a new password.
      </p>
      <md-input-container class="width-100" flex-gt-sm="45">
        <label>Email</label>
        <input type="email" ng-model="user.email" required>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-content layout="row" layout-align="center center">
    <md-button class="green-button width-100" flex-gt-sm="35" ng-click="submit()">
      SUBMIT
    </md-button>
  </md-dialog-content>
  </form>
</md-dialog>
