<md-dialog class="forgot-modal" aria-label="Forgot Modal">
  <md-dialog-content>
    <h2 class="md-title">Forgot password?</h2>
    <div class="md-dialog-content-body">
      <p id="forgot_text">
        Just enter your email below and hit SUBMIT. A form will be sent to you to create a new password.
      </p>
      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="user.email" required>
      </md-input-container>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button class="md-raised md-accent close-modal" ng-click="submit()">Submit</md-button>
  </div>
</md-dialog>